.apps-frame {
  position: absolute;
  left: 236px;
  top: 76px;
  width: 806px;
  height: 298px;
}

.apps-myapps-glyph {
  width: 72px;
  height: 52.22px;
  background-image: url("../assets/Misc/myapps.png");
  background-size: 243.06px 162.04px;
  background-position: -84.66px -46.68px;
}

.apps-hbogo-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);             
  font-size: 16px;
}

.apps-netflix-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
}
